@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

@import "tailwindcss";

@theme {
  --font-pretendard: "Pretendard Variable", sans-serif;

  --color-primary: var(--color-blue-300);
  --color-secondary: var(--color-amber-200);
  --color-neutral: var(--color-gray-500);
  --color-neutral-light: var(--color-gray-300);
}

* {
  font-family: var(--font-pretendard) !important;
}
